MIRROR_DOMAIN=cn.level-grind.com
TLS_EMAIL=replace-with-your-email@example.com
UPSTREAM_DIAL=level-grind-workspace.dingjingbo3747.chatgpt.site:443
UPSTREAM_HOST=level-grind.com
UPSTREAM_TLS_SERVER_NAME=level-grind.com
